@model AdminToolsModel.CSPCall.CSPCallSet

@using (Ajax.BeginForm("CallProcess", null,new AjaxOptions { HttpMethod="POST", InsertionMode=InsertionMode.ReplaceWith, UpdateTargetId= "callprocessform" },new { id="callprocessform"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Run add call</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger",id="valmsg-loginname" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger",id= "valmsg-password" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assignto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assignto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Assignto, "", new { @class = "text-danger" ,id= "valmsg-assignto" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" ,id= "valmsg-startdate" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" ,id= "valmsg-enddate" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayCalls, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayCalls, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DayCalls, "", new { @class = "text-danger" ,id= "valmsg-daycalls" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Run" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="addcallresult" class="text-info"></div>

<div>
    <hr />
    @Html.ActionLink("Back to List", "CallList")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
